* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.com-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 120px;
	padding: 10px 30px;
	border-bottom: 2px solid #ddd;
	transform: translate(0, 0, 0);
	a {
		color: #000;
	}
	._name {
		font-size: 24px;
		color: #313131;
	}
}

.com-footer {
	width: 100%;
	padding: 10px 30px;
	border-top: 2px solid #ddd;
}
.com-container {
	width: 100%;
	min-height: 720px;
} 
